body {
    text-align: center;
}

.content {
    height: auto;
    width: 80%;
    display: inline-block;
}

.c1 ,.t{
    margin-top: 5rem;
    text-align: left;
}

h1 {
    font-family: "Product Sans Bold";
    font-size: 2.5rem;
}

.contributors-box ,.testers-box{
    display: inline-block;
    height: auto;
    width: 100%;
}

.contributor, .testers {
    display: inline-block;
    height: 8rem;
    width: auto;
    padding: 1.5rem 2.5rem;
    margin: 0 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(233, 233, 233);
}

.contributor-img {
    display: inline-block;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    background-position: center;
    background-size: cover;
}

.contributor-details, .testers-details {
    vertical-align: top;
    display: inline-block;
    height: 7.5rem;
    padding: 0 1rem 0 1.5rem;
    width: auto;
}

.testers-details{
    padding: 0 1rem 0 1rem;
}

.contributor-details-box, .testers-details-box {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contributor-name ,.testers-name{
    font-size: 2.25rem;
    font-family: "Product Sans Bold";
    font-weight: normal;
}

.contributor-username {
    font-size: 1.5rem;
    font-family: "Product Sans Regular";
    font-weight: normal;
}

.contributor-work {
    font-size: 1.25rem;
    font-family: "Product Sans Bold";
    font-weight: normal;
}

h2,h3,h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.c2 {
    margin-top: 2rem;
    height: auto;
    width: 100%;
    text-align: center;
}

h4 {
    font-size: 2rem;
    font-family: "Product Sans Bold";
}

.c2img-box {
    width: 100%;
    margin-bottom: 1rem;
}

.c2img-box img {
    height: 7rem;
}

.tooltip{
    width: 10rem;
    height: 3.9rem;
    text-align: center;
    font-family: "Product Sans Regular";
    font-size: 1.25rem;
    border-radius: 6px;
    background-color: rgb(66, 66, 66);
    color: white;
    vertical-align: middle;
    opacity: 0;
    transition: 0.2s;
    margin: -130px auto 0 auto;
}

.testers{
    cursor: pointer;
    padding: 0 2.5rem;
}

.t{
    margin: 5rem 0;
}

.testers:hover .tooltip{
    opacity: 1;
    transition: 0.2s;
}

.tooltip::after{
    content: '';
    position: relative;
    top: 100%;
    margin-left: -5px;
    border: 5px solid ;
    border-color: rgb(66, 66, 66) transparent  transparent  transparent ;
}

.tooltip p{
    padding: 0.4rem;
}

